<!DOCTYPE html>
<html lang="pl" 
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="_fragments :: head">
</head>

<body>
	<div class="container whole">
		<div class="header" th:include="_fragments :: header">
		</div>
		
		<div th:include="_fragments :: main-menu" class="container">
		</div>

		<div th:include="_fragments :: authorization"  style="height: 50px;">
		</div>
		
		<div class="container tom_header">
		<h3>Lista wszystkich wpisów:</h3>
			<div class="tom_categoryList" th:each="post : ${postList}" >
				<a style="font-size: 1.2em;" th:href="@{/blog/{postId}(postId=${post.id})}" th:text="${#dates.format(post.creationDate,'dd MMM yyyy')} + '&nbsp;&nbsp;-&nbsp;&nbsp;' + ${post.title}"></a>
			</div>	
		</div>
		
		<div th:include="_fragments :: footer" class="footer text-center">
		</div>
	</div>
	
<th:block th:include="_fragments :: scripts"/>		
</body>
</html>